.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #1b1e25;
  border: 1px solid #33363d;
  border-radius: 8px;
  padding: 24px;
  width: 100%;
  /* height: 100%; */
  min-height: 275px;
}

.modal-sg {
  max-width: 500px;
  max-height: 500px;
}

.modal-sm {
  max-width: 500px;
  max-height: 285px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
  min-height: 16px;
}
