* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  color-scheme: dark;
}

body,
html {
  width: 100%;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  background-color: #0f1219;
  color: white;
  padding: 10px;
}
